/** ####################### -- GENERAL -- ########################### **/
*{
    font-family: "Poppins", sans-serif;
    color: white;
    box-sizing: border-box;
}
body{
    margin: 0px;
    padding: 0px;
    

}
main{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}
/** ####################### -- NAVBAR -- ########################### **/
nav {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
}
.navbar {
    border-radius: 25px;
    list-style-type: none;
    position: absolute;
    background-color: #272727;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.lien-nav {
    font-size: 25px;
    font-weight: 700;
    text-decoration: none;
 
}

.lien-nav.actif {
    font-weight: bold;
    font-size: 35px;
}
/** ####################### -- CONTENU -- ########################### **/
.section {
    display: none;
    padding: 50px;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    transition: opacity 0.3s;
}
.section.actif{
    width: 100vw;
    height: 100vh;
    display: flex;
}
/** ####################### -- PRESENTATION -- ########################### **/
#presentation{
    background-color: #40a2db;
}
.photo{
    width: 75%;
    height: 75%;
    object-fit: cover;
    clip-path: circle(40% at 44% 50%);
}
#presentation > *{
    width: 50%;
}
/** ####################### -- COMPETENCES -- ########################### **/
#competences{
    background-color: #2f8cc2;
}
#competences *{
    margin: 0px;
}
#competences p{
    margin-top: 20px;
    font-size: 25px;
}
#competences div{
    height: 55%;
    width: 33%;
    margin: 20px;
    padding: 50px;
    border: 4px solid white;
    border-radius: 15%;
}

/** ####################### -- DIPLOMES -- ########################### **/
#diplomes{
    background-color: #247bad;
}
#diplomes *{
    margin: 0px;
}
#diplomes p{
    margin-top: 20px;
    font-size: 25px;
}
#diplomes h3{
    margin-top: 20px;
    font-size: 30px;
}
#diplomes h5{
    font-weight: 100;
    font-size: 25px;
}
#diplomes div{
    height: 55%;
    width: 33%;
    margin: 20px;
    padding: 50px;
    border: 4px solid white;
    border-radius: 15%;
}
#diplomes div:first-child h3{
    margin-top: 55px;
}
/** ####################### -- EXPERIENCES -- ########################### **/
#experiences{
    background-color: #196794;
}
#experiences *{
    margin: 0px;
}
#expereinces p{
    margin-top: 20px;
    font-size: 25px;
}
#experiences h3{
    margin-top: 20px;
    font-size: 30px;
}
#experiences div{
    height: 55%;
    width: 33%;
    margin: 20px;
    padding: 50px;
    border: 4px solid white;
    border-radius: 15%;
}
/** ####################### -- CONTACT -- ########################### **/
#contact{
    background-color: #0e4d72;
}
